.user__container {
  width: 24%;
  border-radius: 16px;
  display: flex;
  flex: 1 1 24%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  padding: 20px;
  padding-bottom: 13px;
  overflow: hidden;
  gap: 18px;
  @media screen and (max-width: 768px) {
    width: 31%;
    flex: 1 1 31%;
    gap: 20px;
  }
  @media screen and (max-width: 480px) {
    width: 100%;
    flex: 1 1 100%;
    gap: 20px;
  }
  img {
    border-radius: 50px;
    width: 70px;
    height: 70px;
  }
  div {
    width: 100%;
    @media screen and (max-width: 480px) {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.user__phone {
  letter-spacing: 2.5px;
}
