.header {
  position: absolute;
  height: 52px;
  left: 0px;
  background: #ffffff;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    margin: 0 auto;
    height: 60px;
    @media screen and (max-width: 1024px) {
      padding: 0 60px;
    }
    @media screen and (max-width: 768px) {
      padding: 0 32px;
    }
    @media screen and (max-width: 480px) {
      padding: 0 16px;
    }
  }
  &__element {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    button {
      width: 100px;
      height: 34px;
      background: #f4e041;
      border: none;
      border-radius: 80px;
    }
  }
}
.header_block {
  width: 100%;
  background: #fff;
  .black_block {
    background-color: #000;
    height: 60px;
  }
}
